In [3]:
# цикл while 
a = 5
while a > 0:
    print(a, end=' ')
    a -= 1

5 4 3 2 1

### цикл while

In [1]:
i = 0
while i < 5:
    print('*')
    if i % 2 == 0:
        print('**')
    if i > 2:
        print('***')
    i = i + 1

*
**
*
*
**
*
***
*
**
***

In [4]:
s = 0
i = -1
while i != 0:
    i = int(input())
    s += i
print(s)

0
0

In [ ]:
'''
В Институте биоинформатики между информатиками и биологами устраивается соревнование. Победителям соревнования достанется большой и 
вкусный пирог. В команде биологов a человек, а в команде информатиков — b человек.

Нужно заранее разрезать пирог таким образом, чтобы можно было раздать кусочки пирога любой команде, выигравшей соревнование, 
при этом каждому участнику этой команды должно достаться одинаковое число кусочков пирога. И так как не хочется резать пирог на 
слишком мелкие кусочки, нужно найти минимальное подходящее число.

Напишите программу, которая помогает найти это число.
Программа должна считывать размеры команд (два положительных целых числа a и b, каждое число вводится на отдельной строке) и 
выводить наименьшее число d, которое делится на оба этих числа без остатка.
'''

In [18]:
# алгоритм нахождения НОК через НОД
a = int(input())
b = int(input())
c = a
d = b
while a != 0 and b != 0:
    if a > b:
        a = a % b
    else:
        b = b % a
nod = a+b
nok = c*d/nod
print(int(nok))

8
12
24

### Операторы break, continue

In [ ]:
Напишите программу, которая считывает целые числа с консоли по одному числу в строке.

Для каждого введённого числа проверить:
если число меньше 10, то пропускаем это число;
если число больше 100, то прекращаем считывать числа;
в остальных случаях вывести это число обратно на консоль в отдельной строке.

In [21]:
while True:
    i = int(input())
    if i < 10:
        continue
    elif i > 100:
        break
    else:
        print(i)

1
2
123

### Цикл for

In [ ]:
Когда Павел учился в школе, он запоминал таблицу умножения прямоугольными блоками. Для тренировок ему 
бы очень пригодилась программа, которая показывала бы блок таблицы умножения.

Напишите программу, на вход которой даются четыре числа a, b, c и d, каждое в своей строке. 
Программа должна вывести фрагмент таблицы умножения для всех чисел отрезка [a; b][a;b] на все числа отрезка [c;d][c;d].

Числа a, b, c и d являются натуральными и не превосходят 10, a≤b, c≤d.

Следуйте формату вывода из примера, для разделения элементов внутри строки используйте '\t' — символ табуляции. 
Заметьте, что левым столбцом и верхней строкой выводятся сами числа из заданных отрезков — заголовочные столбец и строка таблицы.﻿

In [33]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

print('', end='\t')
for i in range(c, d+1):
    print(i, end='\t')
print()  
for i in range(a, b+1):
    print(i, end='\t')
    for j in range(c, d+1):
        print(i*j, end='\t')
    print()

1
3
2
4
	2	3	4
1	2	3	4
2	4	6	8
3	6	9	12

In [ ]:
Вывести сумму всех нечетных чисел от a до b

In [36]:
a,b = (int(i) for i in input().split())
s = 0
if a % 2 == 0:
    a = a+1
for i in range(a, b+1, 2):
    s += i
print(s)

3 8
15

In [ ]:
Напишите программу, которая считывает с клавиатуры два числа a и b, считает и выводит на консоль среднее арифметическое всех 
чисел из отрезка [a;b], которые делятся на 3.

В приведенном ниже примере среднее арифметическое считается для чисел на отрезке [−5;12]. Всего чисел, делящихся на 3, на этом 
отрезке 6: -3, 0, 3, 6, 9, 12. Их среднее арифметическое равно 4.5.

На вход программе подаются интервалы, внутри которых всегда есть хотя бы одно число, которое делится на 3.

In [43]:
a = int(input())
b = int(input())
n = 0
s = 0

if a % 3 == 1:
    a = a + 2
elif a % 3 == 2:
    a = a + 1
    
for i in range(a, b+1, 3):
    n += 1
    s += i

print(s/n)

3
3
3.0

### Символы строки

In [44]:
genome = 'atgg'
print(genome[0])
print(genome[-1])

a
g

In [45]:
# так нельзя! 
genome[0] = c

TypeError: 'str' object does not support item assignment

In [46]:
for c in genome:
    print(c)

a
t
g
g

In [ ]:
Найти количество символов 'c' в строке

In [48]:
# первый способ
genome = 'cacctggac'
count = 0
for c in genome:
    if c == 'c':
        count += 1
print(count)

4

In [49]:
# второй способ
genome = 'cacctggac'
print(genome.count('c'))

4

In [ ]:
Некоторые методы строк

In [53]:
s = 'daGDkk'
p = 'kk'

In [55]:
s.lower()

'dagdkk'

In [54]:
s.upper()

'DAGDKK'

In [66]:
s.count('p')

0

In [57]:
s.find(p)

4

In [58]:
s.find('A')

-1

In [59]:
s.replace('d', 'E')

'EaGDkk'

In [60]:
s = 'agTtcAGtc'
s.upper().count('gt'.upper())

2

In [ ]:
GC-состав является важной характеристикой геномных последовательностей и определяется как процентное соотношение суммы 
всех гуанинов и цитозинов к общему числу нуклеиновых оснований в геномной последовательности.

Напишите программу, которая вычисляет процентное содержание символов G (гуанин) и C (цитозин) в введенной строке (программа не 
должна зависеть от регистра вводимых символов).

Например, в строке "acggtgttat" процентное содержание символов G и C равно 4/10 = 40.0, где 4 - это количество символов G и C,  
а 10 - это длина строки.

In [68]:
s = input()
n = len(s)
ccnt = s.upper().count('C')
gcnt = s.upper().count('G')
print((ccnt + gcnt)/n*100)

acggtgttat
40.0

In [ ]:
Slising - взятие диапазонов символов
левая граница включается, правая - нет

In [71]:
dna = 'attcggagct'

In [72]:
dna[1]

't'

In [73]:
dna[1:4]

'ttc'

In [74]:
dna[:4]

'attc'

In [75]:
dna[4:]

'ggagct'

In [76]:
dna[-4:] # начинаем с последнего с конца симвала, но идем все равно до конца строки не меня направдление

'agct'

In [78]:
dna[1:-1]

'ttcggagc'

In [80]:
dna[1:-1:2] # указываем шаг 2

'tcgg'

In [81]:
dna[::-1] # все символы в обратном порядке

'tcgaggctta'

In [83]:
# полиндром
a = input()
b = a[::-1]
if a == b:
    print('yes')
else:
    print('NO')

qwsdfdsf
NO

In [84]:
s = 'abcdefghijk'
s[::-1]

'kjihgfedcba'

In [85]:
s[-1:-10:-2]

'kigec'

### Задачка

In [ ]:
Узнав, что ДНК не является случайной строкой, только что поступившие в Институт биоинформатики студенты группы информатиков 
предложили использовать алгоритм сжатия, который сжимает повторяющиеся символы в строке.

Кодирование осуществляется следующим образом:
s = 'aaaabbсaa' преобразуется в 'a4b2с1a2', то есть группы одинаковых символов исходной строки заменяются на этот символ и 
количество его повторений в этой позиции строки.

Напишите программу, которая считывает строку, кодирует её предложенным алгоритмом и выводит закодированную последовательность на 
стандартный вывод. Кодирование должно учитывать регистр символов.

In [89]:
s = input()
news = ''
if len(s) != 0:
    prev = s[0]
    k = 1
    for i in range(1, len(s)):
        if s[i] == prev:
            k += 1
        else:
            news += prev + str(k)
            k = 1
            prev = s[i]

    print(news + prev + str(k))

ews
e1w1s1

## Списки

In [91]:
students = ['Ivan', 'Petr', 'Masha']
for c in students:
    print('Hello,', c)

Hello, Ivan
Hello, Petr
Hello, Masha

In [92]:
students[:2]

['Ivan', 'Petr']

### Операции со списками

In [93]:
teachers = ['Oleg', 'Alex']

In [94]:
students + teachers

['Ivan', 'Petr', 'Masha', 'Oleg', 'Alex']

In [95]:
students * 4

['Ivan',
 'Petr',
 'Masha',
 'Ivan',
 'Petr',
 'Masha',
 'Ivan',
 'Petr',
 'Masha',
 'Ivan',
 'Petr',
 'Masha']

In [96]:
a = [0, 4]
a * 3

[0, 4, 0, 4, 0, 4]

### Изменение элементов списка

In [99]:
students[0] = 'Toma'

In [100]:
students

['Toma', 'Petr', 'Masha']

### Добавление элементов

In [101]:
students.append('Ivan')

In [102]:
students

['Toma', 'Petr', 'Masha', 'Ivan']

In [103]:
students += ['Olga', 'Misha']

In [104]:
students

['Toma', 'Petr', 'Masha', 'Ivan', 'Olga', 'Misha']

### Вставка элементов по индексу

In [105]:
students.insert(1,'Egor')

In [106]:
students

['Toma', 'Egor', 'Petr', 'Masha', 'Ivan', 'Olga', 'Misha']

In [107]:
students += 'Olga' # строка преобразуется в список и каждая буква становится новым элементом!

In [108]:
students

['Toma', 'Egor', 'Petr', 'Masha', 'Ivan', 'Olga', 'Misha', 'O', 'l', 'g', 'a']

In [109]:
students = ['Toma', 'Egor', 'Petr', 'Masha']

In [110]:
students

['Toma', 'Egor', 'Petr', 'Masha']

### Удаление элементов

In [111]:
students.remove('Masha')

In [112]:
students

['Toma', 'Egor', 'Petr']

In [113]:
del students[0]

In [114]:
students

['Egor', 'Petr']

In [115]:
students.append('Petr')

In [116]:
students

['Egor', 'Petr', 'Petr']

In [117]:
students.remove('Petr') # удаляется только первое вхождение

In [118]:
students

['Egor', 'Petr']

In [119]:
students.append('Egor')

In [120]:
students

['Egor', 'Petr', 'Egor']

In [121]:
students.remove('Egor')

In [122]:
students

['Petr', 'Egor']

In [123]:
students.remove('Masha') # ошибка

ValueError: list.remove(x): x not in list

In [124]:
# удаление с проверкой
if 'Masha' in students:
    students.remove('Masha')

In [125]:
# получить индекс первого вхождения элемента в списке
# если такого элемента нет, то будет ошибка
ind = students.index('Masha')

ValueError: 'Masha' is not in list

In [126]:
ind = students.index('Egor')

In [127]:
ind

1

### Сортировка списков

In [128]:
new_students = sorted(students)
new_students

['Egor', 'Petr']

In [129]:
students = ['Toma', 'Egor', 'Petr', 'Masha', 'Ivan', 'Olga', 'Misha']

In [130]:
new_students = sorted(students) # не изменяет исходный список

In [131]:
new_students

['Egor', 'Ivan', 'Masha', 'Misha', 'Olga', 'Petr', 'Toma']

In [132]:
students.sort() # изменяет исходный список

In [133]:
students

['Egor', 'Ivan', 'Masha', 'Misha', 'Olga', 'Petr', 'Toma']

In [135]:
min(students)

'Egor'

In [136]:
students.reverse() # меняет порядок элементов в списке в обратную сторону

In [137]:
students

['Toma', 'Petr', 'Olga', 'Misha', 'Masha', 'Ivan', 'Egor']

In [147]:
st1 = list(reversed(students)) # функция reversed создаёт итерационный обьект, чтоб из него вышел список надо к нему ещё применить функцию list

In [148]:
st1

['Egor', 'Ivan', 'Masha', 'Misha', 'Olga', 'Petr', 'Toma']

In [146]:
students[::-1]

['Egor', 'Ivan', 'Masha', 'Misha', 'Olga', 'Petr', 'Toma']

In [149]:
st = students

In [150]:
st

['Toma', 'Petr', 'Olga', 'Misha', 'Masha', 'Ivan', 'Egor']

In [151]:
students

['Toma', 'Petr', 'Olga', 'Misha', 'Masha', 'Ivan', 'Egor']

In [152]:
st[2] = 'Alex'

In [153]:
st

['Toma', 'Petr', 'Alex', 'Misha', 'Masha', 'Ivan', 'Egor']

In [154]:
students

['Toma', 'Petr', 'Alex', 'Misha', 'Masha', 'Ivan', 'Egor']

### список является ссылочным типом!!!

In [156]:
a = [1, 2, 3]
b = a

In [157]:
b

[1, 2, 3]

In [158]:
a[1] = 10

In [159]:
b

[1, 10, 3]

In [160]:
b[0] = 20

In [161]:
a

[20, 10, 3]

In [162]:
a = [5, 6]

In [163]:
b

[20, 10, 3]

### Генерация списков

In [165]:
a = [0]*5

In [166]:
a

[0, 0, 0, 0, 0]

In [167]:
a = [0 for i in range(5)]

In [168]:
a

[0, 0, 0, 0, 0]

In [169]:
a = [i*i for i in range(5)]

In [170]:
a

[0, 1, 4, 9, 16]

In [172]:
a = [int(i) for i in input().split()]

2 3 4 5 6

In [173]:
a

[2, 3, 4, 5, 6]

In [174]:
s = 0
s = [s+=i for i in a]

SyntaxError: invalid syntax (<ipython-input-174-2f4b473ded2f>, line 2)

In [175]:
sum(a)

20

In [177]:
a = [int(i) for i in input().split()]
s = 0
for i in a:
    s += i
print(s)

4 -1 9 3
15

In [178]:
len(a)

4

### Задачи

In [ ]:
Напишите программу, на вход которой подаётся список чисел одной строкой. Программа должна для каждого элемента этого 
списка вывести сумму двух его соседей. Для элементов списка, являющихся крайними, одним из соседей считается элемент, находящий 
на противоположном конце этого списка. Например, если на вход подаётся список "1 3 5 6 10", то на выход ожидается 
список "13 6 9 15 7" (без кавычек).

Если на вход пришло только одно число, надо вывести его же.

Вывод должен содержать одну строку с числами нового списка, разделёнными пробелом.

In [188]:
a = [int(i) for i in input().split()]
if len(a) == 1:
    print(a[0])
else:
    c = a[1] + a[-1]
    b = [c]
    if len(a) > 2:
        for i in range(1, len(a) - 1):
            b.append(a[i-1] + a[i+1])
    b.append(a[len(a)-2] + a[0])
    for i in b:
        print(i, end=' ')

1 3 5 6 10
13 6 9 15 7

In [ ]:
Напишите программу, которая принимает на вход список чисел в одной строке и выводит на экран в одну строку значения, 
которые повторяются в нём более одного раза.

Для решения задачи может пригодиться метод sort списка.

Выводимые числа не должны повторяться, порядок их вывода может быть произвольным.

In [197]:
a = [int(i) for i in input().split()]
b = []
a.sort()

k = 0
prev = a[0]
for i in range(1, len(a)):
    if a[i] == prev:
        if k < 1:
            b.append(a[i])
        k += 1
    else:
        k = 0
    prev = a[i]
for i in b:
    print(i, end=' ')

1 2

### Двумерные списки

In [198]:
a = [[1,2,3],[4,5,6],[7,8,9]]

In [199]:
a[1]

[4, 5, 6]

In [200]:
a[1][1]

5

### Генерация двумерных списков

In [201]:
n = 3
a =[[0]*n]*n # так нельзя делать

In [202]:
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [203]:
a[0][0]=5

In [204]:
a

[[5, 0, 0], [5, 0, 0], [5, 0, 0]]

In [205]:
# вот так правильно
a = [[0]*n for i in range(n)]

In [206]:
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [207]:
a[0][0] = 5

In [208]:
a

[[5, 0, 0], [0, 0, 0], [0, 0, 0]]

In [209]:
# или вот так
a = [[0 for j in range(n)] for i in range(n)]

In [210]:
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

###  Поиск минимума в списке

In [212]:
a = [int(i) for i in input().split()]
min = a[0]
for i in range(1, len(a)):
    if a[i] < min:
        min = a[i]
print(min)

5 8 0
0

### Сапер

Даны размеры поля для игры в сапер, количество мин и их координаты. Вывести поле игры на экран.

In [235]:
n, m, k = [int(i) for i in input().split()]
a = [[0]*m for i in range(n)]
for j in range(k):
    x, y = [int(i)-1 for i in input().split()]
    a[x][y] = -1

for i in range(n):
    for j in range(m):
        if a[i][j] == 0:
            for di in range(-1,2):
                for dj in range(-1,2):
                    ai = i + di
                    aj = j + dj
                    if 0 <= ai < n and 0 <= aj < m and a[ai][aj] == -1:
                        a[i][j] += 1
                        
for i in range(n):
    for j in range(m):
        if a[i][j] == -1:
            print('*', end=' ')
        elif a[i][j] == 0:
            print('.', end=' ')
        else:
            print(a[i][j], end=' ')
    print()

5 4 4
1 1
2 2
3 2
4 4
* 2 1 .
3 * 2 .
2 * 3 1
1 1 2 *
. . 1 1

Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и сразу после этого выводит сумму квадратов всех считанных чисел.

Гарантируется, что в какой-то момент сумма введённых чисел окажется равной 0, после этого считывание продолжать не нужно.

В примере мы считываем числа 1, -3, 5, -6, -10, 13; в этот момент замечаем, что сумма этих чисел равна нулю и выводим сумму их квадратов, не обращая внимания на то, что остались ещё не прочитанные значения.

In [239]:
a = []
b = []
while True:
    n = int(input())
    a.append(n)
    b.append(n*n)
    if sum(a) == 0:
        break
        
print(sum(b))

1
-3
5
-6
-10
13
340

In [ ]:
Напишите программу, которая выводит часть последовательности 1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 ... (число повторяется столько раз, 
чему равно). 
На вход программе передаётся неотрицательное целое число n — столько элементов последовательности должна отобразить программа. 
На выходе ожидается последовательность чисел, записанных через пробел в одну строку.

In [243]:
n = int(input())
k = 0
j = 1
while True:
    for i in range(j):
        print(j, end=' ')
        k += 1
        if k >= n:
            break
    j += 1
    if k >= n:
        break

7

SyntaxError: 'return' outside function (<ipython-input-243-162ffb741fa7>, line 9)

In [ ]:
Напишите программу, которая считывает список чисел lst из первой строки и число xx из второй строки, которая выводит все позиции, 
на которых встречается число x в переданном списке lst.

Позиции нумеруются с нуля, если число x не встречается в списке, вывести строку "Отсутствует" (без кавычек, с большой буквы).

Позиции должны быть выведены в одну строку, по возрастанию абсолютного значения.

In [247]:
a = [int(i) for i in input().split()]
n = int(input())
k = 0
for i in range(len(a)):
    if a[i] == n:
        print(i, end=' ')
        k += 1
if k == 0:
    print('Отсутствует')

5 8 2 7 8 8 2 4
10
Отсутствует

In [ ]:
Напишите программу, на вход которой подаётся прямоугольная матрица в виде последовательности строк, заканчивающихся строкой, 
содержащей только строку "end" (без кавычек)

Программа должна вывести матрицу того же размера, у которой каждый элемент в позиции i, j равен сумме элементов первой матрицы 
на позициях (i-1, j), (i+1, j), (i, j-1), (i, j+1). У крайних символов соседний элемент находится с противоположной стороны матрицы.

В случае одной строки/столбца элемент сам себе является соседом по соответствующему направлению.

In [263]:
b = []
m = 0
while True:
    s = input()
    if s == 'end':
        break
    else:
        a = [int(i) for i in s.split()]
        m = len(a)
        b.append(a)


n = len(b)
a = [[0]*m for i in range(n)]
for i in range(n):
    for j in range(m):
        ai = i - 1
        aj = j
        a[i][j] += b[ai][aj]
        
        ai = i + 1
        aj = j
        if ai == n:
            ai = 0
        a[i][j] += b[ai][aj]
        
        ai = i
        aj = j - 1
        a[i][j] += b[ai][aj]
        
        ai = i
        aj = j + 1
        if aj == m:
            aj = 0
        a[i][j] += b[ai][aj]

for i in range(n):
    for j in range(m):
        print(a[i][j], end=' ')
    print()

1
end
4

In [261]:
a

[[3, 21, 22], [10, 6, 19], [20, 16, -1]]

In [ ]:
Выведите таблицу размером nxn, заполненную числами от 1 до n^2 по спирали, выходящей из левого верхнего угла и закрученной по 
часовой стрелке, как показано в примере (здесь n=5)
1 2 3 4 5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9

In [270]:
n = int(input())
a = [[0]*n for i in range(n)]
i = 0
j = 0
a[0][0] = 1
k = 2
while k <= n*n:
    while j < n-1 and a[i][j+1] == 0:
        j += 1
        a[i][j] = k
        k += 1
    while i < n-1 and a[i+1][j] == 0:
        i += 1
        a[i][j] = k
        k += 1
    while j > 0 and a[i][j-1] == 0:
        j -= 1
        a[i][j] = k
        k += 1
    while i > 0 and a[i-1][j] == 0:
        i -= 1
        a[i][j] = k
        k += 1
for i in range(n):
    for j in range(n):
        print(a[i][j], end=' ')
    print()

0

IndexError: list index out of range